# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Misc
.DS_Store
.fleet
.idea
.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage/
/tests-examples/
