// Here you can add other styles
.sidebar-brand {
    img {
        width: 80%;
    }   
}

.highcharts-credits {
    display: none;
}

// .wrapper {
//     background-image: url("../assets/img/Nigeria_(orthographic_projection).svg");
//     background-size: cover;

//     .my-overlay {
//         height: 100vh;
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100vw;
//         background: rgba(255, 255, 255, 0.8);
//     }
// }
