// Here you can add other styles
.sidebar-brand {
  img {
    width: 80%;
  }
}

.smaller-icon {
  width: 0.9rem !important;
  height: 0.9rem !important;
}

.btn-scenario-header {
  padding-bottom: 0;
  height: 2.6rem;
  border: 1px solid rgba(8, 10, 12, 0.17) !important; // copying from card
  border-radius: 0.375rem; // copying from card

  &:active,
  &:not(:hover) {
    background: $light-background !important;
  }
}
